<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.system.mapper.PrintPlanMapper">
    
    <resultMap type="PrintPlan" id="PrintPlanResult">
        <result property="id"    column="id"    />
        <result property="planName"    column="plan_name"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="classificationNames"    column="classification_names"    />
    </resultMap>

    <resultMap id="PrintPlanPrintPlanClassificationResult" type="PrintPlan" extends="PrintPlanResult">
        <collection property="printPlanClassificationList" ofType="PrintPlanClassification" column="id" select="selectPrintPlanClassificationList" />
    </resultMap>

    <resultMap type="PrintPlanClassification" id="PrintPlanClassificationResult">
        <result property="planId"    column="plan_id"    />
        <result property="classificationId"    column="classification_id"    />
    </resultMap>

    <sql id="selectPrintPlanVo">
        select id, plan_name, create_user_id, create_time from t_print_plan
    </sql>

    <select id="selectPrintPlanList" parameterType="PrintPlan" resultMap="PrintPlanResult">
        SELECT
        id,
        plan_name,
        create_user_id,
        create_time,b.classification_names,b.classification_ids
        FROM
        t_print_plan a
        LEFT JOIN (
        SELECT
        plan_id,
        GROUP_CONCAT( classification_id) AS classification_ids,
        GROUP_CONCAT( classification_name) AS classification_names
        FROM
        ( SELECT a.*, b.classification_name FROM t_print_plan_classification a LEFT JOIN t_classification b ON a.classification_id = b.id ) r
        GROUP BY
        plan_id
        ) b ON a.id = b.plan_id
        <where>
            <if test="planName != null  and planName != ''"> and a.plan_name like concat('%', #{planName}, '%')</if>
        </where>
    </select>
    
    <select id="selectPrintPlanById" parameterType="String" resultMap="PrintPlanPrintPlanClassificationResult">
        select id, plan_name, create_user_id, create_time
        from t_print_plan
        where id = #{id}
    </select>

    <select id="selectPrintPlanClassificationList" resultMap="PrintPlanClassificationResult">
        select a.plan_id, a.classification_id,b.classification_name
        from t_print_plan_classification a left join t_classification b on a.classification_id = b.id
        where plan_id = #{plan_id}
    </select>

    <insert id="insertPrintPlan" parameterType="PrintPlan">
        insert into t_print_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="planName != null">plan_name,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="planName != null">#{planName},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updatePrintPlan" parameterType="PrintPlan">
        update t_print_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="planName != null">plan_name = #{planName},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePrintPlanById" parameterType="String">
        delete from t_print_plan where id = #{id}
    </delete>

    <delete id="deletePrintPlanByIds" parameterType="String">
        delete from t_print_plan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deletePrintPlanClassificationByPlanIds" parameterType="String">
        delete from t_print_plan_classification where plan_id in 
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>

    <delete id="deletePrintPlanClassificationByPlanId" parameterType="String">
        delete from t_print_plan_classification where plan_id = #{planId}
    </delete>

    <insert id="batchPrintPlanClassification">
        insert into t_print_plan_classification( plan_id, classification_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.planId}, #{item.classificationId})
        </foreach>
    </insert>
</mapper>